---
http_interactions:
- request:
    method: get
    uri: https://careerfoundry.com/en/api/courses/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"61772519db1f08729510a9505613bad8"
    body:
      encoding: ASCII-8BIT
      string: '{"courses":{"become-a-ui-designer":{"title":"Become a UI Designer","url":"https://careerfoundry.com/en/course/become-a-ui-designer","author":"Eric
        Bieller","next_start":"2018-05-29","next_start_formatted":"Tuesday, May 29th,
        2018"},"become-a-web-developer":{"title":"Become a Web Developer","url":"https://careerfoundry.com/en/course/become-a-web-developer","author":"Martin
        Ramsin","next_start":"2018-05-22","next_start_formatted":"Tuesday, May 22nd,
        2018"},"ux-fundamentals":{"title":"UX Fundamentals","url":"https://careerfoundry.com/en/course/ux-fundamentals","author":"Martin
        Ramsin","next_start":"2018-05-29","next_start_formatted":"Tuesday, May 29th,
        2018"},"become-a-ux-designer":{"title":"Become a UX Designer","url":"https://careerfoundry.com/en/course/become-a-ux-designer","author":"Martin
        Ramsin","next_start":"2018-05-29","next_start_formatted":"Tuesday, May 29th,
        2018"},"ui-for-ux-designers":{"title":"UI for UX Designers","url":"https://careerfoundry.com/en/course/ui-for-ux-designers","author":"Martin
        Ramsin","next_start":"2018-05-22","next_start_formatted":"Tuesday, May 22nd,
        2018"},"frontend-development-for-designers":{"title":"Frontend Basics for
        Designers","url":"https://careerfoundry.com/en/course/frontend-development-for-designers","author":"Martin
        Ramsin","next_start":"2018-05-22","next_start_formatted":"Tuesday, May 22nd,
        2018"},"voice-user-interface-design-with-amazon-alexa":{"title":"Voice User
        Interface Design with Amazon Alexa","url":"https://careerfoundry.com/en/course/voice-user-interface-design-with-amazon-alexa","author":"Martin
        Ramsin","next_start":"2018-05-22","next_start_formatted":"Tuesday, May 22nd,
        2018"}}}'
  recorded_at: Mon, 14 May 2018 13:13:18 GMT
recorded_with: VCR 4.0.0
